.paragraph {
	&,
	& > * {
		font-size: 1.2rem;
		line-height: 1.2;
		text-transform: uppercase;
		transition: color 0.3s;
	}
}

.hover-animation {
	&:hover {
		&,
		& > * {
			color: #fff;
		}
	}
}

.transparent {
	color: transparent;
}

.center {
	text-align: center;
}

.color-white {
	color: #fff;
}

.color-white-50 {
	color: rgba(255, 255, 255, 0.5);
}

.color-white-25 {
	color: rgba(255, 255, 255, 0.25);
}
